body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: darkorange;
    color :chocolate;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h3 {
    margin: 0;
}

#scoreboard {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#reset {
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: chocolate;
    background-color: darkorange;
    border-color: chocolate;
}

#nameL{
    color: black;;
    background-color:pink;
    border-color: chocolate;
}
#nameR{
    color: black;;
    background-color:palegreen;
    border-color: chocolate;
}